* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}





body {
    /*background-image: url("images/content/background.gif");*/
    background-image: url("images/Carousel/9.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#background-video {
    display: none;
}






.letter h4 {
    font-size: 30px;
}

#AiAlert {
    display: none;
    margin: 0px 0px;
}

.letter {

    background-image: url("images/content/letterbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#letterbutton button:hover {
    background-color: #A020F0 !important;
    color: white !important;
}




#BirthdayTitle {
    animation-name: Btitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes Btitle {
    from {
        color: red;
    }

    to {
        color: orange;
    }
}


#demo {
    animation-name: Demo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes Demo {
    from {
        color: #8120ff;
    }

    to {
        color: red;
    }
}

#khoma {
    font-size: 30px;
}

#endtext {
    display: block;
}

#topbtn {
    display: none;
}


@media only screen and (max-width: 1200px) {


    .letter h4 {
        font-size: 19px;
    }

    .demo {
        margin: -20% 0;
    }

    #AiAlert {
        display: block;
    }
}



@media only screen and (max-width: 600px) {
    body {
        background-image: url("images/content/smallBG.gif") !important;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }


    .video-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    #background-video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: 100vh;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        /* Set text color */
    }



    .letter h4 {
        font-size: 13px;
        margin: 0 -20px;
    }

    #AiAlert {
        display: block;
    }

    #khoma {
        font-size: 15px;
    }

    #endtext {
        display: none;
    }

    #topbtn {
        display: block;
    }

}